ErrorDocument 404 /404.php
DirectoryIndex index.php

# Prevent directory listings
Options All -Indexes

<Files .htaccess>
	order allow,deny
	deny from all
</Files>

# moved these files
Redirect 301 /archives/forumquotes.html /archives/
Redirect 301 /subscribe/subscribed.html /subscribe/subscribed/
Redirect 301 /subscribe/unsubscribed.html /subscribe/unsubscribed/
Redirect 301 /subscribe/alreadyonlist.html /subscribe/alreadyonlist/
Redirect 301 /subscribe/notonlist.html /subscribe/notonlist/
Redirect 301 /subscribe/emailconfirm.html /subscribe/emailconfirm/

<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteBase /

	# no www
	RewriteCond %{HTTP_HOST} ^www\. [NC]
	RewriteRule ^(.*)$ http://sethroberts.net/$1 [R=301,L]

	# always move up from index.php
	RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^/]+/)*index\.(html|php)\ HTTP/
	RewriteRule ^(([^/]+/)*)index\.(html|php)$ http://sethroberts.net/$1 [R=301,L]

	# add trialing slash to directories
	RewriteCond %{REQUEST_FILENAME} -d
	RewriteCond %{REQUEST_URI} !(.*)/$
	RewriteRule ^(.*)$ http://sethroberts.net/$1/ [R=301,L]

</IfModule>
