ErrorDocument 404 /404.php
DirectoryIndex index.php

# Turn off mod_dir generated directory listings.
Options -Indexes +FollowSymLinks

# Turn off mod_dir generated trailing slash redirects.
DirectorySlash Off

# Default index files. NOTE: Does not work for /. See below.
DirectoryIndex index.php

# moved these files
Redirect 301 /archives/forumquotes.html /archives/
Redirect 301 /subscribe/subscribed.html /subscribe/subscribed/
Redirect 301 /subscribe/unsubscribed.html /subscribe/unsubscribed/
Redirect 301 /subscribe/alreadyonlist.html /subscribe/alreadyonlist/
Redirect 301 /subscribe/notonlist.html /subscribe/notonlist/
Redirect 301 /subscribe/emailconfirm.html /subscribe/emailconfirm/

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	# no www
	RewriteCond %{HTTP_HOST} ^www\. [NC]
	RewriteRule ^(.*)$ http://sethroberts.net/$1 [R=301,L]

	# always move up from index.php
	RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^/]+/)*index\.(html|php|htm)\ HTTP/
	RewriteRule ^(([^/]+/)*)index\.(html|php|htm)$ http://sethroberts.net/$1 [R=301,L]

	# media
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_URI} !^/images/
	RewriteCond %{REQUEST_URI} \.(RData|doc|eml|gif|jpg|mp3|pdf|ppt|swf)$ [NC]
	RewriteRule ^(.*)$ http://media.sethroberts.net/$1 [R=301,L]

	# add trialing slash to directories
	RewriteCond %{REQUEST_FILENAME} -d
	RewriteCond %{REQUEST_URI} !(.*)/$
	RewriteRule ^(.*)$ http://sethroberts.net/$1/ [R=301,L]
</IfModule>
